@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: black;
}

@font-face {
  font-family: "Inter";
  src: url("/public/inter/Inter-Regular.otf") format("truetype");
}

.inter {
  font-family: "Inter", "serif";
}

@font-face {
  font-family: "Besport";
  src: url("/public/besport/Besport.otf") format("truetype");
}

.besport {
  font-family: "Besort";
}

@font-face {
  font-family: "ExordarOutline";
  src: url("/public/exodar/ExodarOutline-9Yy27.ttf") format("truetype");
}

.exordar {
  font-family: "ExodarOutline";
}
